* {
  margin: 0;
  padding: 0;
}

.logo-Nombre {
  color: rgb(187, 140, 21);
  background-color: rgb(9, 221, 122);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  list-style-type: none;
}

body {
  background-image: linear-gradient(to bottom, green, lightblue);
  background-color: aqua;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#navbarToggleExternalContent ul {
  list-style: none;
}
#navbarToggleExternalContent ul li {
  position: relative;
  display: inline-block;
}
#navbarToggleExternalContent ul li a {
  display: block;
  padding: 15px 20px;
  color: #353535;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
}
#navbarToggleExternalContent ul li a :hover {
  color: #ce7d35;
  background-color: white;
}

.titulo-Producto {
  font-family: "Courier New", Courier, monospace;
  color: white;
  text-align: center;
  font-size: x-large;
  margin-top: 50px;
}

@media only screen and (max-width: 1024px) {
  .titulo-Producto {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
.titulo-Producto h2 {
  text-decoration: underline;
  background: black;
}

.col-fot {
  width: 400px;
}

.card-title {
  font: fallback;
  font-size: x-large;
  text-decoration: underline;
}

.card-text {
  font-family: "Courier New", Courier, monospace;
  color: black;
}

.btn {
  background-color: rgb(22, 161, 10);
  width: 100%;
  height: 100%;
  font-size: 24px;
}

@media only screen and (max-width: 1025px) {
  .btn {
    width: 50%;
    height: 50%;
    font-size: 12px;
    background-color: violet;
  }
}
.parrafos {
  word-spacing: 5px;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: transparent;
}

@media only screen and (max-width: 1024px) {
  .parrafos {
    background-color: transparent;
    text-align: center;
    color: black;
    background-color: green;
  }
}
.tips-titulo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: xx-large;
  text-decoration: underline;
  color: green;
}

.tips {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: x-large;
  text-align: center;
  color: black;
  background-color: transparent;
}

.flex-columnas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media only screen and (max-width: 1024px) {
  .flex-columnas {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
.caja {
  background-color: transparent;
  border: 1px solid black;
  line-height: 30px;
}

.grid-layout {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "head       head" "nav        nav" "section    section" "foot       foot";
}

.gridtest {
  display: grid;
  grid-area: section;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "articulo1  articulo2" "articulo3  articulo4";
}

@media only screen and (max-width: 1024px) {
  .gridtest {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
.grid-layout .head {
  grid-area: head;
}

.grid-layout .nav {
  grid-area: nav;
}

.articulo1 {
  background-color: lightsalmon;
  border: solid 2px;
}

.mapa-goole {
  padding: auto;
}

@media only screen and (max-width: 1024px) {
  .mapa-goole {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */